body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#cart-modal {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#cart-list {
    max-height: 300px; /* Limitar la altura del área de productos */
    overflow-y: auto;
}

#cart-total {
    margin-top: 20px;
    font-weight: bold;
}

#cart-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#close-cart {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#buy-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.product-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
